.about {
  header.navigation {
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: transparent;
  }
  section.hero {
    min-height: 100vh;
    background-image: url("/assets/images/header_working-together@1x.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;

    color: #fff;

    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;

    padding-bottom: rem(20);
    @media screen and (min-width: rem(544)) {
      padding-bottom: rem(40);
    }
    @media screen and (min-width: rem(1232)) {
      padding-bottom: rem(80);
    }

    .logo {
      height: rem(181);
      margin-bottom: rem(20);

      @media screen and (min-width: rem(544)) {
        height: rem(250);
        margin-bottom: rem(40);
      }
    }

    h1 {
      text-align: center;
      width: 100%;
      font-size: map-get($fz, h2);
      max-width: 25ch;
      text-shadow: 0 0 0.75em rgba(0, 0, 0, 0.2);
      margin: 0;

      @media screen and (min-width: rem(544)) {
        font-size: map-get($fz, h0);
      }
    }
  }

  main {
    margin-top: rem(-60);
    background-image: linear-gradient(
      to bottom,
      map-get($colors-main, 100),
      map-get($colors-main, 900)
    );
    padding: rem(80) rem(30);
    box-sizing: border-box;
  }

  &__feature {
    display: grid;
    max-width: rem(1410);
    grid-gap: 0 rem(30);
    grid-auto-flow: row;
    background-repeat: no-repeat;
    background-position: top 10% center;
    background-size: contain;
    padding-top: 100%;
    margin: rem(40) auto;

    @media screen and (min-width: rem(544)) {
      background-size: 50%;
      padding-top: 50%;
    }
    @media screen and (min-width: rem(896)) {
      grid-template-columns: repeat(8, 1fr);
      padding-top: 0;
      background-position: right center;
      background-size: 50%;
      background-overflow: visible;
      margin: rem(40) auto;
      padding: rem(40) 0;
      &-content {
        grid-column: 2 / span 3;
      }

      &--color {
        background-position: left 10% center;
        & .about__feature-content {
          grid-column: -5 / span 3;
        }
      }
    }

    @media screen and (min-width: 1232) {
      grid-template-columns: repeat(12, 1fr);

      &-content {
        grid-column: 4 / span 3;
      }

      &--color {
        background-position: left 10% center;
        & .about__feature-content {
          grid-column: -7 / span 3;
        }
      }
    }
    &--cta {
      .about__feature-content {
        text-align: center;
        grid-column: 1 / -1;

        & .btn {
          margin: 0 auto;
        }
      }
    }
  }

  footer {
    background-color: map-get($colors-main, 400);
    padding: rem(10);
    height: rem(160);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
  }
}
