button.btn,
.btn {
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: rem(10) rem(20);
  border-radius: $br;
  font-size: 1em;
  box-sizing: border-box;

  text-align: center;
  vertical-align: middle;

  &--plain {
    background-color: map-get($colors-main, 400);
    color: #fff;

    &:hover,
    &:focus {
      background-color: map-get($colors-main, 700);
    }

    &:active {
      background-color: map-get($colors-main, 900);
      outline: none;
    }
  }

  &--plain.btn--alt {
    background-color: map-get($colors-secondary, 500);
    color: #fff;

    &:hover {
      background-color: map-get($colors-secondary, 700);
    }
    &:focus,
    &:active {
      background-color: map-get($colors-secondary, 900);
      outline: none;
    }
  }

  &--outline {
    box-sizing: border-box;

    // box-shadow: 0 0 0 rem(2) map-get($colors-main, 400) inset;
    background-color: transparent;
    color: map-get($colors-main, 400);
    overflow: hidden;

    &::before {
      content: "";
      display: block;
      position: absolute;
      z-index: -1;
      background-color: transparent;
      width: 50%;
      height: 50%;
      border-radius: $br;
      transition: 0.3s map-get($transition, easeInOutQuart);
      transition-property: width, height, background-color, color, box-shadow;
    }
  }

  &--main-action {
    position: absolute;
    right: 1.25rem;
    bottom: 1.25rem;
    border-radius: 100%;
    width: 3.5rem;
    height: 3.5rem;
    padding: 0;
    background-color: map-get($colors-main, 400);
    box-shadow: map-get($shadow, down);

    transition: box-shadow 300ms map-get($transition, easeOutCubic);

    & svg {
      transition: transform 300ms map-get($transition, easeInOutCubic);
    }

    &:hover,
    &:focus {
      background-color: map-get($colors-main, 700);

      box-shadow: map-get($shadow-soft, down);

      & svg {
        transform: rotate(90deg);
      }
    }

    &:hover,
    &:active,
    &:focus {
      outline: none;
    }

    &:active {
      background-color: map-get($colors-main, 900);
    }
  }

  &--invisible {
    background-color: transparent;
    overflow: hidden;

    position: relative;

    &::before {
      content: "";
      display: block;
      position: absolute;
      width: 20%;
      height: 20%;
      background-color: transparent;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: -1;
      transition-duration: 0.5s;
      transition-property: background-color, width, height;
      transition-timing-function: map-get($transition, easeOutQuint);
    }

    &:hover {
      color: map-get($colors-main, 700);

      &::before {
        height: 100%;
        width: 100%;
        background-color: map-get($colors-neutral, 100);
        transition-timing-function: map-get($transition, easeOutQuint);
      }
    }

    &:active,
    &:focus {
      outline: none;
    }

    &:active {
      color: map-get($colors-main, 900);
      &::before {
        transition-duration: 0.1s;
      }
    }

    &:focus {
      &::before {
        transition-duration: 0.3s;
      }
    }
  }

  &--icon {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: transparent;
    padding: 0;

    position: relative;
    z-index: 0;

    width: rem(40);
    height: rem(40);

    &::before {
      content: "";
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) scale(0.5);
      transform-origin: center;
      z-index: -1;
      transition: 0.3s map-get($transition, easeInOutQuart);
      transition-property: transform, background-color;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      background-color: transparent;
    }

    &:hover,
    &:active,
    &:focus {
      &::before {
        transform: translate(-50%, -50%) scale(1);
        background-color: map-get($colors-neutral, 100);
      }
    }

    &:active,
    &:focus {
      &::before {
        transition-duration: 0.1s;
        background-color: map-get($colors-main, 100);
      }
    }

    &:focus {
      outline: none;
    }

    & svg {
      margin: auto;
      width: rem(25);
      height: rem(25);
    }
  }

  &--icon-right {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    background-color: transparent;
    box-sizing: border-box;
    height: rem(30);
    padding: 0 rem(5) 0 rem(10);
    font-size: map-get($fz, p);
    line-height: 0;

    @include border();

    &:hover,
    &:active,
    &:focus {
    }

    &:active,
    &:focus {
    }

    &:focus {
      outline: none;
    }

    & svg {
      margin: 0 0 0 0.5em;
      width: 1em;
      height: 1em;
    }
  }

  &--icon-label {
    background-color: transparent;
    display: flex;
    flex-direction: column;

    & span {
      font-size: map-get($fz, h6);
    }

    &:hover {
      span {
        color: map-get($colors-main, 400);
      }
    }

    &.btn--active,
    &:active {
      color: map-get($colors-main, 600);
    }

    &:focus {
      outline: none;
      span {
        color: map-get($colors-main, 600);
      }
    }
  }

  &--card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    width: 100%;
    padding: rem(10) rem(5);
    background-color: transparent;
    border: solid rem(2) map-get($colors-neutral, 400);

    height: rem(80);

    &:hover {
      border-color: map-get($colors-main, 400);
    }

    &:active,
    &:focus {
      outline: none;
      border-color: map-get($colors-main, 600);
    }
  }

  &--tab {
    border-radius: none;
    background-color: transparent;
    color: map-get($colors-main, 200);

    &:hover,
    &:active,
    &:focus {
      outline: none;
    }

    &-active {
      color: map-get($colors-main, 500);
    }
  }
}

.dialog--alert {
  & .btn {
    &--outline,
    &--invisible {
      color: map-get($colors-alert, 500);
    }

    &--outline {
      position: relative;

      &:hover,
      &:focus {
        box-shadow: 0 0 0 0 map-get($colors-alert, 700) inset;
        color: #fff;

        &::before {
          box-shadow: 0 0 1em 1em map-get($colors-alert, 700);
          background-color: map-get($colors-alert, 700);
          width: 100%;
          height: 100%;
        }
      }

      &:active {
        background-color: map-get($colors-alert, 900);
        outline: none;
      }
    }

    &--invisible {
      &:hover,
      &:focus {
        color: map-get($colors-alert, 700);
        &::before {
          background-color: map-get($colors-alert, 100);
        }
      }

      &:active {
        color: map-get($colors-alert, 900);
        &::before {
          background-color: map-get($colors-alert, 200);
        }
      }
    }

    &--plain {
      background-color: map-get($colors-alert, 500);

      &:hover,
      &:focus {
        background-color: map-get($colors-alert, 700);
      }

      &:active {
        background-color: map-get($colors-alert, 900);
        outline: none;
      }
    }
  }
}
