.btn {
  border: none;

  display: flex;
  justify-content: center;
  align-items: center;

  &--main-action {
    position: absolute;
    right: 1.25rem;
    bottom: 1.25rem;
    border-radius: 100%;
    width: 3.5rem;
    height: 3.5rem;
    padding: 0;
    background-color: map-get($colors-main, 500);
    box-shadow: map-get($shadow, down);

    transition: box-shadow 300ms cubic-bezier(0.215, 0.61, 0.355, 1);

    & svg {
      transition: transform 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
    }

    &:hover {
      background-color: map-get($colors-main, 700);

      box-shadow: map-get($shadow-soft, down);

      & svg {
        transform: rotate(90deg)
      }
    }

    &:hover,
    &:active,
    &:focus {
      outline: none;
    }

    &:active,
    &:focus {
      background-color: map-get($colors-main, 900);
    }
  }

  &--invisible {
    background-color: transparent;
    padding: 0;
  }

  &--icon {
    & svg {
      width: rem(25);
      height: rem(25);
    }
  }
}
