ul li > ul.dropdown {
  z-index: 500;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  transition: all 0s map-get($transition, easeOutQuint) .5s;
  
  &--active {
    transition-delay: .1s;
  }
}

ul li > ul li {
  margin-right: 0;
}

ul li > ul.dropdown--open,
ul li:hover > ul.dropdown--passive,
ul li:focus > ul.dropdown--passive,
ul li > a:hover + ul.dropdown--passive,
ul li > a:focus + ul.dropdown--passive,
ul li > button:hover + ul.dropdown--passive,
ul li > button:focus + ul.dropdown--passive {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
  transition-timing-function: map-get($transition, easeInQuint);
}

.dropdown {
  top: rem(40);
  right: 0;
  width: max-content;
  
  background-color: map-get($colors-neutral, 0);
  border-radius: $br;
  box-shadow: map-get($shadow, down);
  
  
  overflow: hidden;

  &--card {
    top: rem(30);
  }


  &__elem a,
  &__elem button {
    cursor: pointer; 

    padding: rem(10) rem(20) rem(10) rem(15);
    transition: background-color .6s map-get($transition, easeOutQuint);

    border-radius: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    & svg {
      margin-right: rem(20);
    }

    &:hover {
      background-color: map-get($colors-neutral, 100);
    }

    &:active, &:focus {
      background-color: map-get($colors-neutral, 200);
    }
  }

  &__elem button {
    font-size: 1em;
    width: 100%;
    border: none;
  }
}