@font-face {
  font-family: 'Barlow';
  src: url('../fonts/Barlow/barlow.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Barlow/barlow.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Barlow/barlow.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/Barlow/barlow.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/Barlow/barlow.ttf')  format('truetype'), /* Safari, Android, iOS */
}

@font-face {
  font-family: 'Barlow Semi Condensed';
  font-weight: 600;
  src: url('../fonts/Barlow_Semi_Condensed/barlow_semi_condensed.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Barlow_Semi_Condensed/barlow_semi_condensed.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Barlow_Semi_Condensed/barlow_semi_condensed.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/Barlow_Semi_Condensed/barlow_semi_condensed.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/Barlow_Semi_Condensed/barlow_semi_condensed.ttf')  format('truetype'), /* Safari, Android, iOS */
}