@font-face {
  font-family: 'Barlow';
  src: url('../fonts/Barlow/barlow.eot');
  src: url('../fonts/Barlow/barlow.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Barlow/barlow.woff2') format('woff2'),
       url('../fonts/Barlow/barlow.woff') format('woff'),
       url('../fonts/Barlow/barlow.ttf')  format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Barlow Semi Condensed';
  font-weight: 600;
  src: url('../fonts/Barlow_Semi_Condensed/barlow_semi_condensed.eot');
  src: url('../fonts/Barlow_Semi_Condensed/barlow_semi_condensed.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Barlow_Semi_Condensed/barlow_semi_condensed.woff2') format('woff2'),
       url('../fonts/Barlow_Semi_Condensed/barlow_semi_condensed.woff') format('woff'),
       url('../fonts/Barlow_Semi_Condensed/barlow_semi_condensed.ttf')  format('truetype');
  font-display: swap;
}