.font-list {
  background-color: map-get($colors-neutral, 100);
  list-style: none;
  padding: rem(30);
  margin-top: 0;
  margin-bottom: 0;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(rem(224), 1fr));
  grid-gap: rem(30);
  
  &__card {
    height: 100%;
    width: 100%;
    padding: rem(10);

    & header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      box-sizing: border-box;
      padding-bottom: rem(10);
      margin-bottom: rem(10);
      border-bottom: rem(1) solid map-get($colors-neutral, 100);
    }

  }
  
  &__details {
    & > *:first-child {
      margin-bottom: 10px;
    }
    & > * {
      margin-bottom: 0;
    }
  }
  
  
  // &__action {
  //   margin-top: rem(5);
  //   margin-right: rem(5);
  // }

  &__preview {
    font-size: map-get($fz, h2);
    margin: 0;
    word-break: break-word;
    hyphens: auto;
    line-height: 1.25;
  }

  
} 