.navigation {
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  background-color: #fff;


  .logo {
    display: block;
    height: 100%;
    padding: 0 10px;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  h1 {
    font-size: map-get($fz, p);
    width: 100%;
  }

  &__nav {
    height: 100%;
    padding: 0 10px;
  }
}