.tools {
  background-color: map-get($colors-neutral, 0);
  box-shadow: map-get($shadow, right);
  height: 100vh;

  grid-column: 1/1;
  
  &__wrapper {
    display: grid;
    grid-template-columns: minmax(1fr, 360px) 1fr;
    flex-direction: row;
  }

  &__content {
    height: 100%;
    padding: 0 rem(10);
    overflow-y: scroll;
  }
}