.tools {
  background-color: map-get($colors-neutral, 0);
  box-shadow: map-get($shadow, right);
  height: 100vh;
  width: 25%;
  position: fixed;
  
  &__wrapper {
    display: flex;
    flex-direction: row;
  }

  &__content {
    height: 100%;
    padding: 0 rem(10);
    overflow-y: scroll;
  }
}