.tools {
  display: grid;
  grid-template-areas:
    "nav"
    "preview"
    "tool";
  // grid-template-columns: 1fr;
  grid-template-rows: min-content 1fr min-content;

  & > .navigation {
    grid-area: nav;
    top: 0;
  }

  & > .navigation,
  &__tools {
    position: sticky;
    z-index: 100;
    @media screen and (min-width: rem(896)) {
      position: fixed;
    }
  }

  &__tools {
    grid-area: tool;
    bottom: 0;
  }

  & #preview,
  & .font-list,
  & .font-details {
    grid-area: preview;
  }

  // grid-template-columns: minmax(min-content, rem(360)) minmax(rem(360), 1fr);
  &__label.title {
    margin-bottom: rem(5);
  }

  &__side-bar {
    grid-area: side-bar;
    background-color: map-get($colors-neutral, 0);
    height: 100vh;
    position: sticky;
    top: 0;
    box-shadow: map-get($shadow, right);
    overflow-y: scroll;
  }

  &__font-list,
  &__font-details,
  &__preview {
    grid-area: preview;
  }

  &__preview {
    width: 100%;
  }

  &__tab {
    display: flex;
    justify-content: space-between;
    margin-bottom: rem(10);

    &-elem {
      width: 100%;
    }
  }

  &__tools {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: min-content 1fr;
  }

  &__tool {
    &--comp {
      height: 100%;
      display: flex;
      flex-direction: column;
    }

    &--font-list {
      & > h3 {
        display: flex;
        justify-content: space-between;
        & > span {
          text-align: right;
        }
      }
      & ul > li {
        text-align: right;
        font-size: map-get($fz, h4);
        display: flex;
        justify-content: flex-end;
        align-items: center;

        &:not(:last-child) {
          margin-bottom: 0.5em;
        }
      }
    }

    &--typo {
    }
  }

  &__elem {
    margin-top: rem(15);

    &-group {
      margin-top: rem(5);
    }
  }

  &__elem + &__elem {
    margin-top: rem(20);
  }
}

.typo-choice {
  &__elem {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: rem(10) rem(20);

    & button {
      grid-column: span 2;
    }
  }
}

.font-comparator {
  &__input {
    text-align: center;
  }

  &__font-name-display {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: rem(10);

    & span {
      width: 100%;
      text-align: center;
    }
  }

  &__letters {
    margin: 0 0 rem(10);
    height: rem(200);
    position: relative;

    &-wrapper {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      display: flex;
      align-items: baseline;
    }

    &-elem {
      transition: 0.2s ease;
      font-size: 10em;
      transform-origin: center center;
      margin: 0 rem(10);
      mix-blend-mode: multiply;
      transform: translateX(0);

      &:first-child {
        color: map-get($colors-secondary, 700);
      }

      &:last-child {
        color: map-get($colors-main, 700);
      }

      &--overlay {
        margin: 0;
      }

      &--overlay:first-child {
        transform: translateX(50%);
      }

      &--overlay:last-child {
        transform: translateX(-50%);
      }

      // position: absolute;
      // top: 50%;
      // transform: translateY(-50%);
    }
  }
}
