.tool {
  width: 100%;
  background-color: map-get($colors-neutral, 0);

  transform: translateY(0);

  transition: transform 0.3s map-get($transition, easeOutCubic);

  display: grid;
  grid-template-rows: 1fr min-content;
  grid-template-areas:
    "tool"
    "nav";

  @media screen and (min-width: rem(896)) {
    height: auto;
    width: rem(360);

    grid-template-areas:
      "nav"
      "tool";
    grid-template-rows: min-content 1fr;
  }

  & .btn.btn--icon.tool__fold-action {
    box-sizing: content-box;
    height: rem(30);
    width: rem(30);
    position: absolute;
    top: rem(20);
    right: rem(5);
    transform-origin: center center;
    transform: translateY(-50%);
    transition: transform 0.3s map-get($transition, easeOutCubic);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  & .tool__elem > .title {
    transition: margin 0.3s map-get($transition, easeOutCubic);
  }

  &--fold {
    transform: translateY(rem(210));
    & .tool__elem > .title {
      margin: rem(5);
    }

    & .btn.btn--icon.tool__fold-action {
      transform: translateY(-50%) rotate(0.5turn);
    }
  }
}

.tool__content {
  height: rem(200);
  grid-area: tool;
  padding: rem(5) rem(10);

  margin: 0;

  @media screen and (min-width: rem(896)) {
    height: 100%;
  }
}

.tool__navigation,
.tool__navigation ul.tool__navigation {
  // height: rem(60);
}

.tool__navigation {
  grid-area: nav;
}

.tool__tabs {
  display: flex;
  align-items: center;
  justify-content: space-around;

  & .btn.btn--tab {
    padding-top: rem(5);
    padding-bottom: rem(5);
  }
}

.tool__field {
  &-groups {
    display: grid;
    grid-auto-rows: min-content;
    row-gap: rem(10);

    @media screen and (min-width: rem(896)) {
      & + .tool__field-groups {
        margin-top: rem(10);
      }
    }
  }
  & .title.title--alt {
    margin-bottom: rem(10);
  }
  &-action {
    display: flex;
    align-items: center;
    align-content: stretch;

    & input[type="range"] {
      flex-grow: 1;
    }
  }
}

.tool__elem {
  display: grid;
  grid-auto-rows: min-content;
  row-gap: rem(10);

  @media screen and (min-width: rem(896)) {
    margin: rem(10) 0 rem(40);
  }
}
