// Fonts
$ff-h: 'Barlow Semi Condensed', sans-serif;
$ff-t: 'Barlow', sans-serif;

$fz: (
  h1: 2.4375em, // 39
  h2: 1.9375em, // 31
  h3: 1.5625em, // 25
  h4: 1.25em, // 20
  p: 1em, // 16
  h5: 0.8125em, // 13
  h6: 0.625em, // 10
);

// Colors
$colors-main: (
  100: #FFD5C4,
  200: #FFC3AA,
  300: #FFB191,
  400: #FF9F77,
  500: #FF8D5F,
  600: #FF7B44,
  700: #FF692B,
  800: #FF5613,
  900: #F94700
);

$colors-neutral: (
  0: #FAFAFA,
  100: #E5E5E5,
  200: #D9D9D9,
  300: #CCCCCC,
  400: #BFBFBF,
  500: #B2B2B2,
  600: #A5A5A5,
  700: #999999,
  800: #8C8C8C,
  900: #7F7F7F
);

// Divers

// SHADOW
$shadow: (
  left: 0.125rem 0 .25rem rgba(0,0,0,.15),
  up: 0 0.125rem .25rem rgba(0,0,0,.15),
  center: 0 0 .25rem rgba(0,0,0,.15)
);

// BORDER-RADIUS
$br: 0.3125rem;