@import "_fonts", "_function", "_variables";

*,
*::after,
*::before {
  box-sizing: border-box;
}

*::selection {
  background-color: map-get($colors-main, 200);
}

:root {
  font-size: 100%;
}

body {
  min-height: 100vh;
  font-size: 1em;
  margin: 0;
  padding: 0;
}

body,
.text,
input[type="text"],
input[type="password"] {
  font-family: $ff-t;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6,
button,
label,
.title {
  font-family: $ff-h;
}

h1,
.h1 {
  font-size: map-get($fz, h1); // 39
  line-height: 1.2820512821; //50
}
h2,
.h2 {
  font-size: map-get($fz, h2); // 31
  line-height: 1.2903225806; // 40
}
h3,
.h3 {
  font-size: map-get($fz, h3); // 25
  line-height: 1.2; // 30
}
h4,
.h4 {
  font-size: map-get($fz, h4); // 20
  line-height: 1.25; // 25
}

p,
.p {
  font-size: map-get($fz, p); // 16
  line-height: 1.25; // 20
}

h5,
.h5 {
  font-size: map-get($fz, h5); //13
  line-height: 1.1538461538; // 15
}
h6,
.h6 {
  font-size: map-get($fz, h6); // 10
  line-height: 1; // 10
}

.title {
  &.h1,
  &.h2,
  &.h3,
  &.h4,
  &.p,
  &.h5,
  &.h6 {
    margin: 0;
  }

  &--upp {
    text-transform: uppercase;
  }

  &--alt {
    color: map-get($colors-main, 500);
    &::selection {
      color: map-get($colors-secondary, 500);
    }
  }
}

.text {
  &--shade {
    color: map-get($colors-neutral, 700);
  }
}

a {
  color: #000;
  text-decoration: none;
  &.link {
    &:visited {
      color: map-get($colors-secondary, 900);
      border-color: map-get($colors-secondary, 900);
    }
    &--outline {
      @include border($bc: map-get($colors-secondary, 400));
      padding: 0.25em 1em;

      &:hover {
        color: map-get($colors-secondary, 400);
        @include border($bc: map-get($colors-secondary, 400));
      }
      &:active,
      &:focus {
        color: map-get($colors-main, 700);
      }
    }
  }
  &:hover {
    color: map-get($colors-main, 500);
  }
  &:active,
  &:focus {
    color: map-get($colors-main, 700);
  }

  &:hover::selection,
  &:active::selection,
  &:focus::selection {
    color: map-get($colors-secondary, 500);
  }

  & > object,
  & > svg {
    cursor: pointer;
    pointer-events: none;
  }

  &[href^="http"],
  &[href^="https"] {
    &::after {
      content: "";
      margin: 0 0.2em;
      width: 1em;
      height: 1em;
      vertical-align: middle;
      display: inline-block;
      background-image: url("/assets/icons/link-out.svg");
      background-size: contain;
      background-repeat: no-repeat;
    }

    &:hover::after {
      background-image: url("/assets/icons/link-out-orange.svg");
    }

    &:active::after,
    &:focus::after {
      background-image: url("/assets/icons/link-out-orange-red.svg");
    }
  }

  &[href^="http"].logo,
  &[href^="https"].logo {
    &::after {
      display: none;
    }
  }

  &.logo {
    &--heaj {
      & object {
        display: block;
        margin: 0 auto;
        padding: rem(40);
      }
    }
  }
}

.container {
  padding: 0 rem(10);
}

ul.not-a-list {
  padding-left: 0;
  margin-top: initial;
  margin-bottom: initial;
  list-style: none;
}

@import "_header", "_navigation", "_user", "_dialog", "_login";

@import "_button", "_svg", "_input", "_dropdown", "_card";

@import "_dashboard";

@import "_about";

@import "_credits";

@import "_tools", "_tool", "_font-list", "_font-details", "_preview";

@import "tool/_typo-choice", "tool/_typo-size", "tool/_typo-format",
  "tool/_typo-spaces", "tool/_color-palette", "tool/_color-adjust";
