.font-filter {
  & h4.title.title--alt.h5 {
    text-align: right;
    font-size: map-get($fz, p);
  }
  & ul.tool__field-groups {
    grid-template-columns: 1fr 1fr;

    @media screen and (min-width: rem(896)) {
      grid-template-columns: max-content;
      justify-content: end;
      & li.tool__field {
        text-align: right;
      }
    }
  }
}
