.typo-choice {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: min-content 1fr;
  gap: rem(10);
  grid-template-areas:
    "title title"
    "font1 font2";

  @media screen and (min-width: rem(896)) {
    grid-template-columns: 1fr;
    grid-template-rows: min-content 1fr 1fr;
    grid-template-areas:
      "title"
      "font1"
      "font2";
  }

  & .title {
    grid-area: title;
  }

  & .tool__field:last-child {
    @media screen and (min-width: rem(896)) {
      margin-top: rem(10);
    }
  }

  &__elem {
    &:first-child {
      grid-area: font1;
    }
    &:last-child {
      grid-area: font2;
    }

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: rem(10);

    & button {
      grid-column: span 2;
    }
  }
}
